@model IEnumerable<WebSiteRestaurant.Models.Data.Category>

@{
    ViewData["Title"] = "Категории";
}




<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Категории</li>
    </ol>
</nav>

<h2>Категории</h2>

<h6>
    <a class="btn text-dark" asp-action="Create">
        <i class="far fa-plus-square"></i> Добавить категорию
    </a>
</h6>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a class="btn text-dark" title="Посмотреть подробнее" asp-action="Details" asp-route-id="@item.Id">
                        <i class="far fa-eye"></i>
                    </a> |
                    <a class="btn text-dark" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-pencil-alt"></i>
                    </a> |
                    <a class="btn text-dark" title="Удалить" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="far fa-minus-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
